img {
  height: 70px;
  width: 70px;

}
.navbar-nav .nav-item {
  margin-right: 20px; 
  margin-left: 50px; 
}

.navbar-nav .nav-link {
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  height: 70px;
  width: 70px;
}
@media (max-width: 768px) {
  .logo {
    height: 50px;
    width: 50px;
  }

